<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body >
<ul class="breadcrumbs" th:fragment="breadcrumbsFragment(parentPage, pageName, parentPageName)">
    <li class="breadcrumbs-item"><a href="/index.html" th:href="@{/}" th:text="#{topbar.main}">Главная</a>
    </li>
    <li class="breadcrumbs-item"><a href="/${parentPage}/index.html"  th:href="@{/{parentPage}(parentPage=${parentPage})}" th:text="${parentPageName}">Книги</a>
    </li>
    <li class="breadcrumbs-item breadcrumbs-item_current"><span th:text="${pageName}">Популярное</span>
    </li>
</ul>

<ul class="breadcrumbs" th:fragment="2itemsFragment(pageName)">
    <li class="breadcrumbs-item"><a href="/index.html" th:href="@{/}" th:text="#{topbar.main}">Главная</a>
    </li>
    <li class="breadcrumbs-item breadcrumbs-item_current"><span th:text="${pageName}">Популярное</span>
    </li>
</ul>
</body>
</html>