<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" th:fragment="headFragment(title)" xmlns:th="http:///www.thymeleaf.org">
<head>
    <title th:text="${title}">Авторы</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!--meta( http-equiv="cache-control" content="no-cache")-->
    <!--meta( http-equiv="expires" content="0")-->
    <!--link(rel="preload" href="assets/css/extra.min.css?v=" + version as="style" crossorigin="anonymous")-->
    <link href="favicon.ico" rel="shortcut icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=59641147">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=59641147">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=59641147">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script defer src="/assets/js/scripts.min.js?v=59641147"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("input:radio").change(function () {
                let data = $(this).val();
                if (data == "English") {
                    window.location.replace('?lang=en');
                } else {
                    window.location.replace('?lang=ru');
                }
                localStorage.setItem("lang", data);
            })
            $(function () {
                if (localStorage.getItem("lang") == "English" ||
                    localStorage.getItem("lang") == null) {
                    $("#En").prop("checked", true);
                } else {
                    $("#Ru").prop("checked", true);
                }
            })
        })
    </script>
</head>

</html>