<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:insert="~{fragments/head_fragment :: headFragment(title=#{footer.contacts})}"></head>
<body class="Site">
  <header th:replace="~{fragments/header_fragment :: headerFragment(chosenPage='')}"></header>
  <div class="Middle">
    <div class="Middle-top">
      <div class="wrap">
        <h1 class="Middle-title" th:text="#{footer.contacts}">Контакты
        </h1>
      </div>
    </div>
    <div class="wrap">
      <main class="Middle-main">
        <ul th:replace="~{fragments/breadcrumbs_fragment :: 2itemsFragment(pageName=#{footer.contacts})}"></ul>
        <div class="Contacts">
          <div class="row">
            <div class="row-block">
              <h2 th:text="#{footer.contacts}">Контакты
              </h2>
              <div class="Contacts-prop">
                <strong class="Contacts-propTitle" th:text="#{contacts.phone}">Телефон:
                </strong><span class="Contacts-propContent">8 (800) 484-48-48</span>
              </div>
              <div class="Contacts-prop">
                <strong class="Contacts-propTitle" th:text="#{contacts.email}">E-mail:
                </strong><span class="Contacts-propContent">test@test.ru</span>
              </div>
              <div class="Contacts-prop">
                <strong class="Contacts-propTitle" th:text="#{contacts.telegram}">Телеграм-бот:
                </strong><span class="Contacts-propContent">@testBookShop</span>
              </div>
            </div>
            <div class="row-block">
              <div class="Contacts-form">
                <h2 th:text="#{contacts.write2us}">Напишите нам:
                </h2>
                <form class="form" action="#" method="post">
                  <div class="form-group">
                    <input class="form-input" id="name" name="name" type="text" th:placeholder="#{contacts.nameplaceholder}" data-validate="require"/>
                  </div>
                  <div class="form-group">
                    <input class="form-input form-input_mail" id="mail" name="mail" type="text" th:placeholder="#{contacts.emailplaceholder}" data-validate="mail require"/>
                  </div>
                  <div class="form-group">
                    <input class="form-input" id="topic" name="topic" type="text" th:placeholder="#{contacts.subject}" data-validate="require"/>
                  </div>
                  <div class="form-group">
                    <textarea class="form-textarea Contacts-message" name="message" id="message" th:placeholder="#{contacts.msg}" data-validate="require"></textarea>
                  </div>
                  <div class="form-group">
                    <button class="btn btn_primary form-btn" type="submit" name="sendMessage" id="sendMessage" th:text="#{contacts.send}">Отправить
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body></html>